html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

.header {
  height: 6rem;
  background-color: #222;
  margin-bottom: 1rem;
}
.header p {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 76.8rem;
  color: white;
  font-size: 2.4rem;
}

.container {
  width: 76.8rem;
  margin: 1rem auto;
  text-align: center;
}
@media screen and (max-width: 42.5rem) {
  .container {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
}
@media screen and (max-width: 32rem) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
  }
}
.container .header {
  font-size: 2.4rem;
  background-color: white;
}
.container .image-header {
  width: 36rem;
  padding: 1rem;
}
.container .accordion.styled {
  width: 100%;
  text-align: left;
}
.container .accordion.styled .title {
  font-size: 2rem;
}
.container .accordion.styled .content {
  font-size: 1.6rem;
}
